@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,800;1,400&display=swap');

*{
	box-sizing: border-box;
}

body{
	background-color: #FFFFFF;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}

/*
*    Title: How to Collapse Sidebar
*    Author: W3 Schools
*    Date: Accessed 26th April 2021
*    Code version: Source Code
*    Availability: https://www.w3schools.com/howto/howto_js_collapse_sidebar.asp
*
*/

/* The sidebar menu */
.sidebar {
	height: 100%; /* 100% Full-height */
	width: 0; /* 0 width - change this with JavaScript */
	position: fixed; /* Stay in place */
	z-index: 1; /* Stay on top */
	top: 0;
	left: 0;
	background-color: #FFFFFF;
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 60px; /* Place content 60px from the top */
	transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

.sidebar a{
	padding: 10px 8px 10px 32px;
	text-decoration: none;
	font-size: 16px;
	color: #1E1E1E;
	display: block;
	transition: 0.3s;
}

.sidebar .closebtn:hover{
	background-color: #FFFFFF;
	color: #1E1E1E;
}

.sidebar a:hover {
	background-color: #1E1E1E;
	color: #FFFFFF;
}

.sidebar .closebtn {
	position: absolute;
	top:0;
	padding-bottom: -50px;
	right: 10px;
	font-size: 32px;
}

.openbtn {
	position: fixed;
	font-size: 40px;
	cursor: pointer;
	background-color: #1E1E1E;
	color: white;
	padding: 9px 17px 12px 17px;
	border: none;
}

#main {
  transition: margin-left .5s;
}

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

/************************************/

.banner{
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-content: center;
	white-space: nowrap;
	overflow: hidden;
	background-color: #1E1E1E;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
}

#rules{
	display: flex;
	flex-flow: column wrap;
	width: 60%;
	margin: auto;
	justify-content: center;
	align-items: flex-start;
	background-color: #FFFFFF;
	color: #6A6866;
}

#rules h1{
	padding: 10px;
	align-self: center;
	font-family: "Montserrat", sans-serif;
	font-size: 30px;
	font-weight: 800;
	color: #000000;
	margin-bottom: -5px;
}

#rules p{
	font-family: "Montserrat", sans-serif;
	font-size: 17px;
	line-height: 25px;
	margin-bottom: -5px;
}

#rulesbody{
	font-family: "Montserrat", sans-serif;
	font-size: 17px;
	line-height: 25px;
}

#rulesbody li{
	margin-bottom: 20px;
}
















